<app-sideBar></app-sideBar>

<div class="d-flex justify-content-center overlay" *ngIf="load">
    <div style="margin: auto;">
        <p-progressSpinner></p-progressSpinner>
    </div>
</div>

<div class="title  my-4">
    <h1>Administración de Horarios</h1>
</div>

<p-card>
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Crear Horario" icon="pi pi-plus" class="p-button-success mx-2" (click)="showModalSchduler()"></button>
            <button pButton pRipple label="Eliminar Todo" icon="pi pi-trash" class="p-button-danger mx-2" (click)="showElection(false)"></button>
        </ng-template>
    </p-toolbar>

    <p-table 
    #tableRoutes 
    styleClass="p-datatable-sm"
    [value]="scheduler" 
    [paginator]="true"
    [rowHover]="true" 
    [rows]="10" 
    [rowsPerPageOptions]="[10,20,30,50,70,100]"
    dataKey="id" 
    currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
    [showCurrentPageReport]="true" 
    [scrollable]="true" 
    scrollHeight="50rem"
    *ngIf="!load">
        <ng-template pTemplate="header">
            <tr>
                <th rowspan="2">#</th>
                <th><input pInputText type="text" style="width: 100%;" (input)="filterData($event, 'id')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="filterData($event, 'route')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="filterData($event, 'week_Num')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="filterData($event, 'from')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="filterData($event, 'to')"></th>
                <th><input pInputText type="text" style="width: 100%;" (input)="filterData($event, 'active')"></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Ruta</th>
                <th class="text-center">Semana</th>
                <th class="text-center">Desde</th>
                <th class="text-center">Hasta</th>
                <th class="text-center">Estado</th>
                <th class="text-center">Editar</th>
                <th class="text-center">Eliminar</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
            <tr>
                <td class="text-center">{{rowIndex + 1}}</td>
                <td class="text-center">{{data.id}}</td>
                <td class="text-center">{{data.route | uppercase}}</td>
                <td class="text-center">{{data.week_Num}}</td>
                <td class="text-center">{{data.from | date : 'yyyy-MM-dd'}}</td>
                <td class="text-center">{{data.to | date : 'yyyy-MM-dd'}}</td>
                <td class="text-center"><span class="badge" [ngClass]="{'bg-danger': data.active == false, 'bg-success': data.active == true}">{{data.active == true ? 'Activo' : 'Inactivo'}}</span></td>
                <td><button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mx-2" (click)="showModalSchduler(data)"></button></td>
                <td><button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mx-2" (click)="showElection(true, data.id)"></button></td>
            </tr>
        </ng-template>
    </p-table>
</p-card>

<p-dialog [(visible)]="modalScheduler" [style]="{ width: '70%', height: '90%' }" header="Detalles" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="formScheduler" (ngSubmit)="validateSchduler()">
            <div class="row g-4 my-4">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <span class="p-float-label">
                        <input pInputText formControlName="id" id="id"/>
                        <label id="id">Id</label>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <span class="p-float-label">
                        <p-dropdown [options]="routesVehicles" formControlName="route_Id" optionLabel="description" optionValue="id" inputId="float-label"></p-dropdown>
                        <label for="float-label">Ruta</label>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <span class="p-float-label">
                        <p-inputNumber formControlName="week_Num" inputId="week_Num" [useGrouping]="false" [required]="true"></p-inputNumber>
                        <label for="week_Num">Semana</label>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <span class="p-float-label">
                        <p-calendar formControlName="from" inputId="from" selectionMode="single" [selectOtherMonths]="true" [showIcon]="true"></p-calendar>
                        <label for="from">Desde</label>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <span class="p-float-label">
                        <p-calendar formControlName="to" inputId="to" selectionMode="single" [selectOtherMonths]="true" [showIcon]="true"></p-calendar>
                        <label for="to">Hasta</label>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <span class="p-float-label">
                        <p-dropdown [options]="states" formControlName="active" optionLabel="Name" optionValue="Id" inputId="float-label"></p-dropdown>
                        <label for="float-label">Estado</label>
                    </span>
                </div>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <button pButton class="p-button-danger" type="submit" label="Enviar Datos" icon="pi pi-send" [disabled]="load"></button>
                <button pButton class="p-button-secondary" type="button" label="Limpiar Campos" icon="pi pi-eraser" [disabled]="load" (click)="this.formScheduler.reset()"></button>
            </div>
        </form>
    </ng-template>
</p-dialog>

<p-toast position="center" key="decision" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message" let-matPrima>
      <div class="flex flex-column" style="flex: 1">
        <div class="text-center">
          <i class="pi pi-exclamation-triangle font-size-48"></i>
          <h4>{{message.summary}}</h4>
          <p>{{message.detail}}</p>
        </div>
        <div class="p-fluid" style="display: flex;">
          <div class="col-6" style="margin-right: 5px;">
            <button *ngIf="formScheduler.value.id" type="button" pButton icon="pi pi-check" label="Si" (click)="deletedataScheduler(formScheduler.value.id)" class="p-button-warning"></button>
            <button *ngIf="!formScheduler.value.id" type="button" pButton icon="pi pi-check" label="Si" (click)="deleteAllScheduler()" class="p-button-success"></button>
          </div>
          <div class="col-6">
            <button type="button" pButton (click)="onReject()" icon="pi pi-times" label="No" class="p-button-secondary"></button>
          </div>
        </div>
      </div>
    </ng-template>
</p-toast>